@use "sass:math";
$cmp: "a-badge";

.#{$cmp} {
  @include e("base") {
    @include flex();
    @include font($label);
    @include border(($baseline / 2) solid fx-color($c-light, gainsboro-white));
    @include transition(
      $transition-property: border-color,
      $transition-time: 0.4s
    );
    @extend %bkg-color-secondary;

    color: fx-color($c-gray, spanish-gray);

    // normal size
    height: $baseline * 4;
    width: $gutter * 2;
  }
}
