@import "../../../../../abstracts/abstracts.scss";

// SCSS variable to set the number of columns used for media-queries (12 OR 16)
$breakpoints: $column-grid-12;

// Base component code

// TYPES (Normal Emphasized Informative Warning Alert Error Success)

// STATES (states of interactive elements)
// :default, ::placeholder, :placeholder-shown, :blank, :indeterminate, :checked, :optional,
// :required, :disabled, :enabled, :read-write, :read-only, :valid, :invalid, :in-range, :out-of-range


// STATUSES
// ::selection, :hover, -webkit-tap-highlight-color, :focus, :focus-within, :active, :link, :visited

$cmp: "m-fancyHoverCardList";

.#{$cmp} {
  &__list {
    display: flex;

    &:hover .#{$cmp}__listItem {
      transform: scale(0.9);
      box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.8);

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 15px 30px -15px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__listItem {
    margin: 10px;
    padding: 0.5em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    &:first-child {
      background: #55efc4;
    }

    &:nth-child(2) {
      background: #81ecec;
    }

    &:nth-child(3) {
      background: #74b9ff;
    }

    img {
      display: block;
      max-width: 100%;
    }

    p {
      margin: 0.5em;
      text-align: center;
      color: #fff;
    }
  }
}
