@import "../../tools/functions/functions.scss";
// Initial map of our breakpoints and their values
/// @type Map
$column-grid-16: (
  smartphone: (
    columns: 4,
    margin: 0,
    width: convert-rem($mobile),
    touch: true
  ),
  tablet: (
    columns: 16,
    margin: convert-rem(16px),
    width: convert-rem($tablet),
    touch: true
  ),
  desktop: (
    columns: 16,
    margin: convert-rem(16px),
    width: convert-rem($desktop),
    touch: false
  ),
  ultra-wide: (
    columns: 16,
    margin: convert-rem(16px),
    width: convert-rem($ultra-wide),
    touch: false
  )
) ;
