$cmp: "a-heading";

.#{$cmp} {
  @include e("base") {
    margin: ($baseline * 2) 0;
    color: var(--text-base-color);
  }

  @include e("main", "subheading") {
    @extend %display-block;
  }

  @include e("subheading") {
    font-size: calc(var(--heading-font-size) * 0.7);
    line-height: calc(var(--heading-line-height) * 0.75);
  }
}
