$type: "o";
$block: "#{$type}-article";

.#{$block} {
  @include e("base") {
    @include font($body);

    padding: ($baseline * 9) ($gutter * 1.5);
    margin: 0 auto;
    max-width: $max-width / 2;
  }
}
