.m-textList__base {
  font-family: var(--text-regular);
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  padding-left: 30px;
  margin: 1em 0;
}
@media only screen and (min-width: 1439px) {
  .m-textList__base {
    font-size: 1.1875rem;
    line-height: 1.6875rem;
  }
}
@media only screen and (min-width: 1919px) {
  .m-textList__base {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.m-textList__item {
  margin-bottom: 8px;
}
