// From https://web.dev/patterns/layout/
// A layout where the sidebar is given a minimum and maximum safe area size, and the rest of the content fills the available space.
// TODO: adjust according to standards

.parent {
  display: grid;
  grid-template-columns: minmax(100px, 25%) 1fr;
}

/*
<div class="parent">
    <div class="section yellow" contenteditable>
    Min: 100px / Max: 25%
    </div>
    <div class="section blue" contenteditable>
      This element takes the second grid position (1fr), meaning
      it takes up the rest of the remaining space.
    </div>
  </div>
*/
