@use "sass:math";

$cmp: "a-button";

.#{$cmp} {
  @include e("base") {
    &:focus {
      outline: 0;
    }

    &:not(:first-child) {
      margin-left: $gutter / 2;
    }

    @include m("isAnimated") {
      @include transition(
        $transition-property: transform,
        $transition-time: 0.3s
      );

      &:hover:not(:disabled) {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    // example from Bootstrap
    @include m("success") {
      &:active {
        box-shadow: 0 0 0 convert-rem(3px) rgba(fx-color($c-green, green-cyan), 0.5);
      }
    }
  }
}
