$cmp: "a-button";

.#{$cmp} {
  @include e("base") {
    @include m("primary", "success", "danger", "dark") {
      @extend %txt-color-white;
    }

    @include m("secondary", "warning", "info", "light", "link") {
      @extend %txt-color-jet-black;
    }

    @include m("primary") {
      @extend %bkg-color-primary;
    }

    @include m("secondary") {
      @extend %bkg-color-secondary;

      box-shadow: fx-color($c-dark, dark-15) 0 0 0 convert-rem(1px) inset;
    }

    @include m("success") {
      @extend %bkg-color-success;
    }

    @include m("danger") {
      @extend %bkg-color-danger;
    }

    @include m("warning") {
      @extend %bkg-color-warning;
    }

    @include m("info") {
      @extend %bkg-color-info;
    }

    @include m("light") {
      @extend %bkg-color-light;
    }

    @include m("dark") {
      @extend %bkg-color-dark;
    }

    @include m("link") {
      @extend %bkg-transparent;
    }

    @include m("small") {
      @include font($button-small);

      padding: $baseline $gutter;
    }

    @include m("large") {
      @include font($button-large);

      padding: ($baseline * 1.5) ($gutter * 2.5);
    }

    @include m("rounded-sm") {
      @extend %border-radius-2;
    }

    @include m("rounded-md") {
      @extend %border-radius-6;
    }

    @include m("full-radius") {
      @extend %full-border-radius;
    }

    @include m("rounded-lg") {
      @extend %border-radius-12;
    }
  }
}
