// STATES (states of interactive elements)
// :default, ::placeholder, :placeholder-shown, :blank, :indeterminate, :checked, :optional,
// :required, :disabled, :enabled, :read-write, :read-only, :valid, :invalid, :in-range, :out-of-range

$cmp: "m-pureCssAccordion";

.#{$cmp} {
  &__itemLabel {
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
    }
  }
}
