@import "../../tools/functions/functions.scss";
@import "../viewports/breakpoints.scss";
@import "./sizes.scss";

$page-hero: (
  default: (
    --hero-font-size: convert-rem(56px),
    --hero-line-height: convert-rem(64px),
    font-family: var(--text-regular),
    font-weight: var(--font-weight-hero),
    font-size: var(--hero-font-size),
    line-height: var(--hero-line-height),
    letter-spacing: convert-rem(-1.5px),
  ),
  $desktop: (
    --hero-font-size: convert-rem(90px),
    --hero-line-height: convert-rem(90px),
  ),
  $ultra-wide: (
    --hero-font-size: convert-rem(100px),
    --hero-line-height: convert-rem(100px),
    letter-spacing: -0.01em,
  ),
);

$heading-100: (
  default: (
    --heading-font-size: convert-rem(56px),
    --heading-line-height: convert-rem(64px),
    font-family: var(--text-regular),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    font-weight: var(--font-weight--heading),
    letter-spacing: convert-rem(-1.5px),
  ),
  $desktop: (
    --heading-font-size: convert-rem(90px),
    --heading-line-height: convert-rem(90px),
  ),
  $ultra-wide: (
    --heading-font-size: convert-rem(100px),
    --heading-line-height: convert-rem(100px),
    letter-spacing: convert-rem(-0.01px),
  ),
);

$heading-200: (
  default: (
    --heading-font-size: convert-rem(38px),
    --heading-line-height: convert-rem(42px),
    font-family: var(--text-regular),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    font-weight: var(--font-weight--heading),
    letter-spacing: convert-rem(-0.5px),
  ),
  $desktop: (
    --heading-font-size: convert-rem(50px),
    --heading-line-height: convert-rem(58px),
  ),
  $ultra-wide: (
    --heading-font-size: convert-rem(60px),
    --heading-line-height: convert-rem(70px),
    letter-spacing: convert-rem(-0.75px),
  ),
);

$heading-300: (
  default: (
    --heading-font-size: convert-rem(32px),
    --heading-line-height: convert-rem(39px),
    font-family: var(--text-regular),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    font-weight: var(--font-weight--heading),
    letter-spacing: 0,
  ),
  $desktop: (
    --heading-font-size: convert-rem(44px),
    --heading-line-height: convert-rem(54px),
    line-height: 54px,
    letter-spacing: convert-rem(0.75px),
  ),
  $ultra-wide: (
    --heading-font-size: convert-rem(50px),
    --heading-line-height: convert-rem(54px),
    line-height: 58px,
    letter-spacing: convert-rem(-0.75px),
  ),
);

$heading-400: (
  default: (
    --heading-font-size: convert-rem(20px),
    --heading-line-height: convert-rem(26px),
    font-family: var(--text-regular),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    font-weight: var(--font-weight--heading),
  ),
  $desktop: (
    --heading-font-size: convert-rem(26px),
    --heading-line-height: convert-rem(32px),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    letter-spacing: convert-rem(0.5px),
  ),
  $ultra-wide: (
    --heading-font-size: convert-rem(30px),
    --heading-line-height: convert-rem(36px),
    font-size: var(--heading-font-size),
    line-height: var(--heading-line-height),
    letter-spacing: convert-rem(-0.5px),
  ),
);

$body: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(17px),
    line-height: convert-rem(23px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(27px),
  ),
  $ultra-wide: (
    font-size: convert-rem(20px),
    line-height: convert-rem(28px),
  ),
);

$body-bold: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(17px),
    line-height: convert-rem(23px),
    font-weight: 700,
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(27px),
  ),
  $ultra-wide: (
    font-size: convert-rem(20px),
    line-height: convert-rem(28px),
  ),
);

$button: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(17px),
    line-height: convert-rem(18px),
    font-weight: var(--font-weight--button),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: convert-rem(19px),
  ),
  $ultra-wide: (
    font-size: convert-rem(21px),
    line-height: convert-rem(21px),
  ),
);

$button-large: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(20px),
    line-height: convert-rem(21px),
    font-weight: var(--font-weight--button),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(22px),
    line-height: convert-rem(23px),
  ),
  $ultra-wide: (
    font-size: convert-rem(24px),
    line-height: convert-rem(25px),
  ),
);

$button-small: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(12px),
    line-height: convert-rem(13px),
    font-weight: var(--font-weight--button),
    letter-spacing: convert-rem(1.25px),
  ),
  $desktop: (
    font-size: convert-rem(14px),
    line-height: convert-rem(15px),
  ),
  $ultra-wide: (
    font-size: convert-rem(16px),
    line-height: convert-rem(17px),
  ),
);

$link: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(16px),
    line-height: convert-rem(18px),
    font-weight: normal,
    letter-spacing: convert-rem(0.5px),
    text-decoration: none,
  ),
  $desktop: (
    font-size: convert-rem(19px),
    line-height: 27px,
  ),
  $ultra-wide: (
    font-size: 20px,
    line-height: 28px,
  ),
);

$label: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(15px),
    line-height: convert-rem(20px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: convert-rem(22px),
  ),
);

$label-bold: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(15px),
    font-weight: 700,
    line-height: convert-rem(20px),
  ),
  $desktop: (
    font-size: convert-rem(17px),
    line-height: convert-rem(22px),
  ),
);

$input: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(16px),
    line-height: convert-rem(18px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
);

$input-message: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(14px),
    line-height: convert-rem(16px),
    font-weight: 300,
    letter-spacing: convert-rem(0.5px),
  ),
);

$select: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(14px),
    line-height: convert-rem(16px),
    font-weight: 400,
    letter-spacing: convert-rem(0.5px),
  ),
);

$blockquote: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(27px),
    font-weight: 400,
    line-height: convert-rem(40px),
  ),
  $desktop: (
    font-size: convert-rem(38px),
    line-height: convert-rem(58px),
    letter-spacing: 0.01em,
  ),
  $ultra-wide: (
    font-size: convert-rem(40px),
    line-height: convert-rem(60px),
    letter-spacing: 0,
  ),
);

$body-large: (
  default: (
    font-family: var(--text-regular),
    font-size: convert-rem(19px),
    font-weight: 400,
    line-height: convert-rem(27px),
    letter-spacing: 0.005em,
  ),
  $desktop: (
    font-size: convert-rem(23px),
    line-height: convert-rem(30px),
    letter-spacing: 0.008em,
  ),
  $ultra-wide: (
    font-size: convert-rem(25px),
    line-height: convert-rem(32px),
    letter-spacing: 0.005em,
  ),
);
