/// Shadows
$shadow-dark-box: box-shadow(
  $top: 0,
  $left: convert-rem(20px),
  $blur: convert-rem(60px),
  $color: fx-color($c-dark, dark-30),
  $inset: unset,
);

$shadow-container: box-shadow(
  $top: 0,
  $left: convert-rem(2px),
  $blur: convert-rem(10px),
  $color: fx-color($c-dark, dark-30),
  $inset: unset,
);
