%txt-color-black {
  color: fx-color($c-dark, dark);
}

%txt-color-jet-black {
  color: fx-color($c-dark, jet);
}

%txt-color-white {
  color: fx-color($c-light, light);
}

%bkg-color-primary {
  background-color: fx-color($c-blue, carolina-blue);
}

%bkg-color-secondary {
  background-color: fx-color($c-light, light);
}

%bkg-color-success {
  background-color: fx-color($c-traffic-lights, success);
}

%bkg-color-danger {
  background-color: fx-color($c-traffic-lights, danger);
}

%bkg-color-warning {
  background-color: fx-color($c-traffic-lights, warning);
}

%bkg-color-info {
  background-color: fx-color($c-blue, vivid-sky-blue);
}

%bkg-color-light {
  background-color: fx-color($c-light, cultured);
}

%bkg-color-dark {
  background-color: fx-color($c-dark, eerie-black);
}

%bkg-transparent {
  background-color: transparent;
}
